<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资源审批</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/resourceList.css">
</head>
<body>
    <body>
        <div class="container-fluid clearfix" id="app">
            <h6>企业资源管理 >> 资源审批</h6>
            <div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">编号</th>
                        <th scope="col">资源名称</th>
                        <th scope="col">数量</th>
                        <th scope="col">类型</th>
                        <th scope="col">申请人</th>
                        <th scope="col">更新时间</th>
                        <th scope="col">操作</th>
                      </tr>
                    </thead>
                    <tbody>
<!--                      <tr>-->
<!--                        <th scope="row">0</th>-->
<!--                        <td>AOC23寸显示器</td>-->
<!--                        <td>15</td>-->
<!--                        <td>采购</td>-->
<!--                        <td>职员</td>-->
<!--                        <td>2020-04-20</td>-->
<!--                        <td>-->
<!--                            <button type="button" class="btn btn-primary" @click="showNote(1)" data-toggle="modal" data-target="#note">备注</button>-->
<!--                            <button type="button" class="btn btn-primary" @click="approvalResource(1)" data-toggle="modal" data-target="#approval">审批</button>-->
<!--                        </td>-->
<!--                      </tr>-->
                      <tr v-for="item in dataList">
                          <th scope="row" v-text="item.id"></th>
                          <td v-text="item.resource.name"></td>
                          <td v-text="item.amount + '/' + item.resource.unit"></td>
                          <td v-text="showType(item.type)"></td>
                          <td v-text="item.originate.name + '(' + item.originate.role.name + ')'"></td>
                          <td v-text="showDate(item.updateTime)"></td>
                          <td>
                              <button type="button" class="btn btn-primary" @click="showNote(item.note)" data-toggle="modal" data-target="#note">备注</button>
                              <button type="button" class="btn btn-primary" @click="approvalResource(item.id,item.state)" data-toggle="modal" data-target="#approval">审批</button>
                          </td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="modal fade" id="note" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="noteTitle">备注</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p v-text="note"></p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="approval" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="approvalTitle">审核</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <label class="col-form-label">审批结果:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sex" id="male" value="1" checked v-model="result">
                                <label class="col-sm-2 form-check-label" for="male">
                                    通过
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sex" id="female" value="2" v-model="result">
                                <label class="col-sm-2 form-check-label" for="female">
                                    驳回
                                </label>
                                <span v-text="err_msg"></span>
                            </div>
                            <div class="form-group form-row">
                                <label for="note">备注：</label>
                                <textarea class="form-control" id="approvalNote" rows="3" v-model="approvalNote"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="submit" data-dismiss="modal">提交审核</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const app = new Vue({
                el: "#app",
                data: {
                    err_msg: '',
                    note:'',
                    approvalNote: '',
                    state: '',
                    id: '',
                    result:'',
                    dataList:'',
                },
                methods: {
                    showType(type) {
                        if (type === "1") {
                            return "借出";
                        } else if (type === "2") {
                            return "归还";
                        } else if (type === "3") {
                            return "采购";
                        }
                    },
                    showDate(time) {
                        let nowTime = new Date(time);
                        let year = nowTime.getFullYear();
                        let month = nowTime.getMonth() + 1 < 10 ? "0" + (nowTime.getMonth() + 1) : nowTime.getMonth() + 1;
                        let date = nowTime.getDate() < 10 ? "0" + nowTime.getDate() : nowTime.getDate();
                        let hour = nowTime.getHours() < 10 ? "0" + nowTime.getHours() : nowTime.getHours();
                        let minute = nowTime.getMinutes() < 10 ? "0" + nowTime.getMinutes() : nowTime.getMinutes();
                        let seconds = nowTime.getSeconds() < 10 ? "0" + nowTime.getSeconds() : nowTime.getSeconds();
                        return year + "-" + month + "-" + date + "\t\t" + hour + ":" + minute + ':' + seconds;
                    },
                    showNote(note) {
                        this.note = note;
                    },
                    approvalResource(id,state) {
                        this.id = id;
                        this.state = state;
                    },
                    async submit() {
                        let _this = this;
                        if (!this.verify.flag) {
                            this.err_msg = this.verify.msg;
                        } else {
                           await axios({
                                method: 'post',
                                url: '/resource/approveResource',
                                data: {
                                    id: _this.id,
                                    note: _this.approvalNote,
                                    result: _this.result,
                                    state: _this.state,
                                }
                            })
                                .then(function (result) {
                                    if (result.data === 200) {
                                        alert("审批成功");
                                        _this.id = '';
                                        _this.result = '',
                                        _this.approvalNote = '';
                                    } else if (result.data === 201) {
                                        alert("审批驳回");
                                        _this.id = '';
                                        _this.approvalNote = '';
                                    }
                                })
                                .catch(function (err) {
                                    console.log(err);
                                });
                            this.doReload();
                        }
                    },
                    doReload(){
                        let _this = this;
                        axios({
                            method: 'post',
                            url: '/resource/getResourceRecords/approving',
                            data: {
                            }
                        })
                            .then(function(result) {
                                _this.dataList = result.data.dataList;
                            })
                            .catch(function(err){
                                console.log(err);
                            });
                    }
                },
                created(){
                    let _this = this;
                    axios({
                        method: 'post',
                        url: '/resource/getResourceRecords/approving',
                        data: {
                        }
                    })
                        .then(function(result) {
                            _this.dataList = result.data.dataList;
                        })
                        .catch(function(err){
                            console.log(err);
                        });
                },
                computed: {
                    verify:function(){
                        if(this.result === null || this.result === ''){
                            return {
                                "flag":false,
                                "msg": '请选择审批结果',
                            };
                        }
                        return {
                            "flag":true,
                            "msg": ''
                        }
                    }
                }
            })
        </script>
    </body>
</body>
</html>