<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registUser</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/registUser.css">
</head>
<body>
    <body>
        <div class="container-fluid clearfix" id="app">
            <h6>员工管理 >> 员工注册</h6>
            <form>
                <div class="form-group form-row">
                    <label for="account" class="col-sm-3 col-form-label">用户名:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm" id="account" v-model="account" onkeyup="this.value=this.value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5.]/g,'')">
                    </div>
                </div>
                  <div class="form-group form-row">
                    <label for="password" class="col-sm-3 col-form-label">密码:</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control form-control-sm" id="password"   v-model="password">
                    </div>
                  </div>
                  <div class="form-group form-row">
                    <label for="name" class="col-sm-3 col-form-label">姓名:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm" id="name"  v-model="name" onkeyup="this.value=this.value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5.]/g,'')">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="role">职位：</label>
                    <select class="form-control" id="role" v-model="roleId">
                      <option disabled value="">请选择</option>
                      <option v-for="option in options" :value="option.id">
                        {{ option.name }}
                      </option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-primary" @click="submit">提交</button>
                  <span v-text="err_msg"></span>
            </form>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const app = new Vue({
                el: "#app",
                data: {
                    account: '',
                    password: '123456',
                    name: '',
                    roleId: '',
                    err_msg:'',
                    options: [
                        { name: 'One', id: 'A' },
                        { name: 'Two', id: 'B' },
                        { name: 'Three', id: 'C' }
                    ]
                },
                methods: {
                    submit(){
                        if(!this.verify.flag){
                            this.err_msg = this.verify.msg;
                        }
                        else{
                            this.err_msg = '';
                            let _this = this;
                            axios({
                                method: 'post',
                                url: '/user/registUser',
                                data: {
                                    account: _this.account,
                                    password: _this.password,
                                    name: _this.name,
                                    roleId: _this.roleId,
                                }
                            })
                                .then(function(result) {
                                    if(result.data === 201){
                                        _this.err_msg = "注册失败，请重新输入";
                                    }
                                    else if(result.data === 202){
                                        _this.err_msg = "此用户名已被注册";
                                    }
                                    else if (result.data === 200){
                                        alert("注册成功");
                                        parent.location.reload();
                                    }
                                })
                                .catch(function(err){
                                    console.log(err);
                                });
                        }
                    }
                },
                computed: {
                    verify:function(){
                        if(this.account === ''){
                            return {
                                "flag":false,
                                "msg": '用户名不能为空'
                            };
                        }
                        if(this.password === ''){
                            return {
                                "flag":false,
                                "msg": '密码不能为空'
                            };
                        }
                        if(this.name === ''){
                            return {
                                "flag":false,
                                "msg": '姓名不能为空'
                            };
                        }
                        if(this.roleId === ''){
                            return {
                                "flag":false,
                                "msg": '请选择职位'
                            };
                        }
                        
                        return {
                            "flag":true,
                            "msg": ''
                        }
                    }
                },
                created(){
                    let _this = this;
                    axios({
                        method: 'post',
                        url: '/user/getRoleList'
                    })
                    .then(function(result){
                        _this.options = result.data;
                    })
                    .catch(function (err) {
                        console.log(err);
                    })
                }
            })
        </script>
    </body>
</body>
</html>