body {
    background-color: aliceblue;
    overflow: auto;
}

table {
    text-align: center;
}
td{
    width: 80px;
    height: 40px;
    padding: 2px !important;
}

.line-middle{
    line-height: 80px;
}
p {
    position: absolute;
    left: 400px;
    top: 300px;
    color: #999999;
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
}

form button {
    width: 140px !important;
    margin-top: 30px;
}
form {
    width: 900px;
    height: 120px;
    margin:  15px 0 0 50px;
    padding: 20px 0 0 40px;
}